.bar {background-color: rgb(25, 118, 210)}
#titulo{
    color: white;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#imgt{
    color: white;
    font-size: 150%;
}

.mat-toolbar{
    height: 10vh;
    position: relative;
    display:flex;      
    width:100%;
}

.loja{
    position:absolute;
    right: 1.25rem;
    background-color: white;
    color: rgb(25, 118, 210);
}

.icon{
    color: rgb(25, 118, 210);
}

.cho{
    color: rgb(25, 118, 210);
}